# Python cache
__pycache__/
*.pyc

# Virtual environment
ai_env/

# Firebase secrets (VERY IMPORTANT)
serviceAccountKey.json
iot-kiosk-pos-firebase-adminsdk*.json

# ML / AI models
*.pkl

# Images (if not needed in git)
*.jpg
*.jpeg
*.png__pycache__/
*.pyc
ai_env/ 
venv/ 
__pycache__/ 
*.pyc 
# Firebase secrets
serviceAccountKey.json
*-adminsdk-*.json

# Python
__pycache__/
*.pyc

# venv
ai_env/
